article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font: 12px/18px Arial, sans-serif;
}

.wrapper {
    min-width: 100px;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}


/* Header
-----------------------------------------------------------------------------*/
header {
    height: 50px;
}

#logo {
    text-align: center;
}


/* Middle
-----------------------------------------------------------------------------*/

img {
    max-width: 75%
}

.burger {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

#navigation-icon {
    display: inline-block;
    float: left;
    padding-right: 2%;
}

#navigation-desktop {
    display: none;
}

#navigation-mobile {
    text-align: center;
    font-size: 1.2em;
}

#navigation-mobile li {
    padding: 0.8em;
    border-bottom: 1px solid #ccc;
    list-style: none;
    list-style-position: outside;
}

#navigation-mobile li a {
    color: #000;
    text-decoration: none;
}

#navigation-mobile li a:hover {
    text-decoration: underline;
}


/* Footer
-----------------------------------------------------------------------------*/
footer {
    height: 100px;
    background: #ccc;
    color: #fff;
    text-align: center;
    border-top: dotted lightgray;
}

@media only screen and (min-width:480px) {
    header {
        height: 125px;
    }

    #navigation-icon {
        display: none;

    }

    #navigation-desktop {
        display: block;
        text-align: center;
        border-bottom: inset;
        border-top: outset;
    }

    #navigation-desktop li {
        display: inline;
        margin: 0.3em;
    }

    #navigation-desktop li a {
        color: #000;
        text-decoration: none;
    }

    #navigation-desktop li a:hover {
        text-decoration: underline;
    }

    #navigation-mobile {
        display: none;
    }
}

@media only screen and (min-width:768px) {
    #flex-container {
        display: flex;
        flex-wrap: wrap;
    }

    section {
        width: 40%;
        padding: 2%;
    }

    #logo {
        max-width: 553px;
        margin: 0 auto;
    }

    header {
        max-height: 125px;
    }
}

@media only screen and (min-width:1024px) {
    section {
        width: 28%;
    }
}
